<div class="container">
    <!-- INICIO FORMULARIO CONTACTO-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">
                        <h1><strong>Contact</strong></h1>
                    </label><br>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex necessitatibus officiis alias
                        corporis molestiae, hic quia nostrum provident ab repellendus amet dicta enim dolor,
                        voluptatibus sit et maiores unde sequi.</p>
                </div>
            </div>
        </div>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-2 offset-md-4">
                    <label for="exampleInputEmail1">Your E-mail</label>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4">
                    <label for="">Your message</label>
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" name="comentario" id="comentario" cols="50" rows="3"></textarea>
                </div>
            </div>
    
            <div class="row">
                <div class="col justify-content-end">
                    <button id="enviar" type="button" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </div>

    </form>
    <!-- FIN FORMULARIO CONTACTO-->
</div>