<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../assets/css/style.css">
<div class="container">
    <!-- INICIO FORMULARIO CONTACTO-->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">
                        <h1><strong>Contact</strong></h1>
                    </label><br>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex necessitatibus officiis alias
                        corporis molestiae, hic quia nostrum provident ab repellendus amet dicta enim dolor,
                        voluptatibus sit et maiores unde sequi.</p>
                </div>
            </div>
        </div>
    <form>
        <div class="container border border-dark">
            <div class="row">
                <div class="col-lg-4">
                    <label for="exampleInputEmail1">Your E-mail</label>
                </div>
                <div class="col-lg-8">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label for="">Your message</label>
                </div>
                <div class="col-lg-8">
                    <textarea class="form-control" name="comentario" id="comentario" cols="50" rows="3"></textarea>
                </div>
            </div>
    
            <div class="row">
                <div class="col justify-content-end">
                    <button id="enviar" type="button" class="btn btn-primary float-right">Submit</button>
                </div>
            </div>
        </div>

    </form>
    <!-- FIN FORMULARIO CONTACTO-->
</div>