        <div class="row">
            <div class="col-12">
                <div class="jumbotron bg-white">
                    <div class="col-12 d-flex fle-row">
                        <div class="col-7 mt-2">
                            <h2 class="">This First Heading <span class="text-secondary">Will Catch Your Eye</span> </h2>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quae, commodi odio itaque maiores accusamus quaerat molestias sit tenetur at!</p>
                        </div>
                        <div class="text-center">
                            <img src="../assets/img/1.jpg" style="width: 80%;border-radius: 100%;" class="" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>