<div class="row mt-3">
    <div class="col-8 mt-2">                
        <h1 class="">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quae, commodi odio itaque maiores accusamus quaerat molestias sit tenetur at!</p>
    </div>
    <div class="col-4 text-center">
        <img src="assets/img/1.jpg" style="width: 100%;border-radius: 100%;" class="" alt="...">
    </div>
</div>