    <div class="row mt-3">
        <div class="col-12">
            <h1>Portafolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nisi cupiditate necessitatibus voluptas quae atque debitis modi ex! Repellendus enim excepturi perspiciatis quod itaque porro vero aut reiciendis nemo. Ex!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width:100%;">
                <img class="card-img-top" src="assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>