<!-- SERVICES -->
<div class="container">
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="assets/img/2.jpg" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h1 class="card-title"><strong>The Second Heading <span id="txt_gris">is Pretty Cool Too</span></strong></h1>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nam nihil eum fugit! Esse, totam ab autem consequuntur molestias saepe accusantium cupiditate similique aliquam facilis dicta magnam distinctio, expedita perferendis?</p>
        </div>
      </div>
    </div>
  </div>
<!-- FIN DE SERVICES -->